---
import BaseLayout from "../layouts/BaseLayout.astro";


---
<BaseLayout title="About Us" >
    <p>New Hope UMC of Waukegan started as Living Faith United Methodist Church in 1962.</p>
</BaseLayout>