---
import BaseLayout from "../layouts/BaseLayout.astro";

import prayerGarden from '../assets/images/prayer-garden.webp'
import Image from "astro/components/Image.astro";
---
<BaseLayout title="Prayer Requests" >
    <Image src={prayerGarden} alt={"An image of our prayer garden"} aria-hidden />
    <p>We are a congregation that is committed to prayer. Prayer is an important part of our worship services and bible studies. You are invited to share your prayer requests with us below so that we may join you in prayer.</p>
    <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSd3F92XgKBjFVPZgOCGaD8axldJGanB-_PESbD5pFOAj6TskQ/viewform?embedded=true" width="100%" height="1200" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
</BaseLayout>